@import url('https://fonts.googleapis.com/css2?family=Exo+2:400');

body {
    background: #e85e43;
    font-family: 'Exo2', sans-serif;
    font-weight: 400;
    display: inline;
}

.page {
    width: 95%;
    padding: 2cap 0 0;
    margin: auto;
}
.input-section{
    width: 100%;
}
.input-table{
    width: 100%;
}

.input-status {
    width: 20px;  /* or any desired size */
    height: 20px;
    border-radius: 50%; /* makes it round */
    display: inline-block; /* allows you to set width/height */
    text-align: center; /* center the content horizontally */
    vertical-align: middle; /* center the content vertically */
    line-height: 20px; /* same as height, to center single line text/content vertically */
    margin:5px;
}


.energy-table{
    padding-top: 10px;
    width: 100%;
}

.energy-status {
    width: 20px;  /* or any desired size */
    height: 20px;
    border-radius: 50%; /* makes it round */
    display: inline-block; /* allows you to set width/height */
    text-align: center; /* center the content horizontally */
    vertical-align: middle; /* center the content vertically */
    line-height: 20px; /* same as height, to center single line text/content vertically */
    margin:5px;
}


.energy-type {
    padding: 5px 10px; /* Provides some space around the content */
    border-radius: 10px; /* Rounded edges */
    border-top-right-radius: 0; /* No rounding on top right corner */
    border-bottom-right-radius: 0; /* No rounding on bottom right corner */
    border: 2px solid rgba(0, 0, 0, 0.8); /* Black border with 50% transparency */
    display: inline-block; /* Allows you to set padding and maintain inline behavior */
    text-align: center; /* Center the content horizontally */
    margin:0px;
}

.btn-type {
    padding: 2px 6px; /* Provides some space around the content */
    border-radius: 10px; /* Rounded edges */
    border: 2px solid rgba(0, 0, 0, 0.8); /* Black border with 50% transparency */
    display: inline-block; /* Allows you to set padding and maintain inline behavior */
    text-align: center; /* Center the content horizontally */
    margin:0px;
}

.amp0 {
    background-color: gray;
    color:white;
}
.amp800 {
    background-color: yellow;
    color:black;
}
.amp100 {
    background-color: purple;
    color:white;
}
.amp300 {
    background-color: red;
    color:white;
}
.amp600 {
    background-color: green;
    color:white;
}

.setting-text {
    color:#000000;
    text-align: right;
    margin: 5px;
}
.setting-input {
    width:60px;
}

.selected{
    border-color: black;
    border-width: 8px;
}

.energy-power {
    padding: 5px 10px; /* Provides some space around the content */
    border-radius: 10px; /* Rounded edges */
    border-top-left-radius: 0; /* No rounding on top right corner */
    border-bottom-left-radius: 0; /* No rounding on bottom right corner */
    border: 2px solid rgba(0, 0, 0, 0.8); /* Black border with 50% transparency */
    display: inline-block; /* Allows you to set padding and maintain inline behavior */
    text-align: center; /* Center the content horizontally */
    width:150px;
    margin:0px;
    background-color: #FFFFFF;
    
}

.expand-button{
    background-color: #f9f9f9; /* Light grey background */
    color: #333; /* Dark text */
    text-align:center;
    font-size: 24px; /* Large font size for visibility */
    border: none;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 10px;
    width:40px;
}


.energy-header {
   
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    color: #FFFFFF;
    font-size: 20px;
}

.expandable-content {
    display: none;
}

.form {
    position: relative;
    z-index: 1;
    background: #fffffa;
    max-width: 95%;
    margin: 0 auto 20px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* This spreads the child elements apart as much as possible */
    position: relative; /* So we can use absolute positioning for .iot-title */
    margin-bottom: 8%;
    margin-top: 8%;
}

.iot-title {
    position: absolute; /* Takes the title out of the normal flow */
    left: 50%; /* Center it relative to .header-container */
    transform: translateX(-50%); /* Ensures the title is truly centered, adjusting for its own width */
    text-align: center;
    color: #FFFFFA;
    font-size: 8vw;
}

.invisible-content {
    visibility: hidden;
}

.instruction-text {
    margin-top: 12%;
    text-align: center;
    color: #000000;
    font-size: 4vw;
}

.input-text {
    margin-top: 1%;
    text-align: left;
    color: #000000;
    font-size: 4vw;
}

.instruction-header {
    margin-top: 5%;
    text-align: center;
    color: #000000;
    font-size: 5.8vw;
}
.input-box,
.input-box-alt {
    outline: 0;
    background: #d6d6d6;
    width: 100%;
    border: 0;
    margin: 0 0 5px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 6vw;
    text-align: center;
}

.btn {
    text-transform: uppercase;
    outline: 0;
    background: #e85e43;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #fcfcfc;
    margin-top: 20px;
    text-decoration: none;
    display: block;      /* Make the element a block element */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    text-align: center;  /* Center the text within the element */
}

.input-section{
    outline: 0;
    background: #e85e43;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #fcfcfc;
    margin-top: 20px;
    text-decoration: none;
    display: block;      /* Make the element a block element */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.btn-back {
    background: #FFFFFA;
    border: #000000;
    margin: 0px;
    height: 40px;
    width: 90px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #000000;
}

.btn-prefered {
    height: 100px;
    font-size:x-large;
}

.text-footer {
    position: fixed; /* Use absolute if you don't want it to stick during scroll */
    bottom: 0; 
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* This ensures true centering */
    text-align: center; /* Center the text within the div */
    color: white; /* Set the text color to white */
}

.status-ok {
    color: green;
}

.status-error {
    color: red;
}
/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
    z-index: 1000; /* This should be a high value to ensure the modal appears on top */
}

.diagnostic-content {
    text-align: left;
}
.settings-content {
    text-align: left;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: white;
}

.loading-text {
    display: flex; /* Set to flex to line up our text and dots */
    justify-content: flex-start; /* Align children to the start */
    width: 100px; /* Fixed width to accommodate the word 'Loading' and three dots */
}

.loading-text-last {
    display: flex; /* Set to flex to line up our text and dots */
    justify-content: flex-start; /* Align children to the start */
}

.ellipsis {
    display: inline-block;
    width: 24px; /* Width set to ensure it doesn't shift */
    text-align: left;
    animation: ellipsisSteps 1s infinite;
}
.header-ellipsis {
    display: inline-block;
    width: 20px; /* adjust this value based on your preferred spacing */
    text-align: center;
}

@keyframes ellipsisSteps {
    0%, 100% { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
}

.ellipsis::before {
    content: '.';
}

.checkbox {
    width: 40px;
    height: 19px;
    color: #000000;
    font-family: 'Exo 2';
    font-weight: 400;
    font-size: 15px;
    text-align: left;
    margin-bottom: 15px;
}

.collapsible-content {
    display: none;
}

.toggle-btn::before {
    content: '+ ';
}

.expanded .toggle-btn::before {
    content: '- ';
}

.expanded .collapsible-content {
    display: block;
}

.collapsible-header {
    background-color: #e85e43;   /* orange background */
    padding: 10px;               /* some padding for aesthetics */
    color: #fff;                 /* white text color */
    text-align: left;          /* centered text */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.chart-container {
    margin-top: 10px;
    width: 100%;
    background-color: #FFF;  /* Dark background for contrast */
    position: relative;
}

.line-chart {
    width: 100%;
    height: 100%;
}

.grid line {
    stroke: #777777;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

/* Media query for screens wider than 768px (typical breakpoint for tablets and above) */
@media screen and (min-width: 768px) {
    .iot-title {
        font-size: 64px;  /* Adjust as needed */
    }

    .instruction-text {
        font-size: 32px;  /* Adjust as needed */
    }

    .instruction-header {
        font-size: 48px;  /* Adjust as needed */
    }

    .form {
        max-width: 500px; /* Adjust as needed */
    }
    .page {
        max-width: 1200px; /* Set this to whatever maximum size you prefer for desktop */
    }
    
}